body{
    margin: 0px;
}
main{
    margin-right: 20px;
    margin-left: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: bisque;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a {
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: gray;
}
.navbar li{
    float: left;
}