.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1em;
    row-gap: 0.6em;
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: red;
    /* order: -1; */
}
#box2{
    background-color: yellow;
}
#box3{
    background-color: green;
}
#box4{
    background-color: blue;
}