body{
    margin: 0px;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px; 
    /* margin: auto;                                      */
}
#box1{
    background-color: red;
    margin-top: 50px;
    margin-left: 50px;
}
#box2{
    background-color: blue;
    margin-top: 50px;
    margin-left: 50px;
}